################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/CRUDClienteEndereco/.vs/CRUDClienteEndereco/v15/Server/sqlite3
/CRUDClienteEndereco/CRUDClienteEndereco/bin/Debug/netcoreapp2.1
/CRUDClienteEndereco/CRUDClienteEndereco/obj/Debug/netcoreapp2.1
/CRUDClienteEndereco/CRUDClienteEndereco/obj
/CRUDClienteEndereco/CRUDClienteEndereco.Dominio/bin/Debug/netcoreapp2.1
/CRUDClienteEndereco/CRUDClienteEndereco.Dominio/obj
/CRUDClienteEndereco/CRUDClienteEndereco.Infra/bin/Debug/netcoreapp2.1
/CRUDClienteEndereco/CRUDClienteEndereco.Infra/obj
/CRUDClienteEndereco/.vs/config/applicationhost.config
/CRUDClienteEndereco/.vs/CRUDClienteEndereco/DesignTimeBuild/.dtbcache
/CRUDClienteEndereco/CRUDClienteEndereco/node_modules
/CRUDClienteEndereco/CRUDClienteEndereco.Web/bin
/CRUDClienteEndereco/CRUDClienteEndereco.Web/node_modules
/CRUDClienteEndereco/CRUDClienteEndereco.Web/obj
/CRUDClienteEndereco/.vs/NetCoreSPA
