<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h3>Clientes</h3>
            <span class="warning">{{resmessage}}</span>

            <form ng-submit="inserir()" ng-controller="ClienteController">
                <div class="form-group">
                    <label for="Nome"> Nome:</label>
                    <input type="text" ng-model="clientModel.Nome" class="form-control" id="nome" required>
                </div>
                <div class="form-group">
                    <label for="TipoDocumento"> Tipo Documento:</label>
                    <select ng-model="clientModel.TipoDocumento" class="form-control" required>
                        <option value="1">CPF</option>
                        <option value="2">CNPJ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Documento"> Documento:</label>
                    <input type="text" ng-model="clientModel.Documento" class="form-control" id="documento" required>
                </div>
                <div class="form-group">
                    <label for="Logradouro"> Logradouro:</label>
                    <input type="text" ng-model="clientModel.Logradouro" class="form-control" id="logradouro" required maxlength="100">
                </div>
                <div class="form-group">
                    <label for="Numero"> Numero:</label>
                    <input type="text" ng-model="clientModel.Numero" class="form-control" id="numero" required>
                </div>
                <div class="form-group">
                    <label for="Complemento"> Complemento:</label>
                    <input type="text" ng-model="clientModel.Complemento" class="form-control" id="complemento" maxlength="50">
                </div>
                <div class="form-group">
                    <label for="Bairro"> Bairro:</label>
                    <input type="text" ng-model="clientModel.Bairro" class="form-control" id="bairro" required  maxlength="50">
                </div>
                <div class="form-group">
                    <label for="UF"> UF:</label>
                    <input type="text" ng-model="clientModel.UF" class="form-control" id="uf" maxlength="2">
                </div>

                <div class="form-group">
                    <label for="CEP"> CEP:</label>
                    <input type="text" ng-model="clientModel.Cep" class="form-control" id="cep" maxlength="9">
                </div>

                <button type="submit" class="btn btn-default">Inserir</button>
            </form>

        </div>
        <div class="col-sm-8">
            <table style="width:100%" class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Documento</th>
                    <th>Endereco</th>
                    <th>Editar/Excluir</th>
                </tr>
                <tr ng-repeat="item in clienteList">
                    <td>{{ item.id }}</td>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.documento }}</td>
                    <td>{{ item.logradouro + ', ' + item.bairro + ', ' + item.numero + ', ' + item.complemento}}</td>
                    <td>
                        <a href="#" ng-click="deletar(item.id)" title="Deletar linha" class="btn btn-danger btn-xs pull-right">
                            Excluir
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>