<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Usuário" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha" value="" />
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Entrar" />
            </div>
            <div class="form-group">
                <a href="#" class="btnForgetPwd">Esqueceu a senha?</a>
            </div>

        </div>

    </div>
</div>